:root{
	--de-black: #111;
	--de-white: #fff;
	--color-bg: var(--de-white);
	--color-btn: var(--de-black);
	--color-text: var(--de-black);
	--color-text-bg: var(--de-white);
	--hover-btn: #333;
	--okey-btn: #4caf50;
	--disable-btn: #e34e43;
}
:root body.black{
	--color-bg: var(--de-black);
	--color-btn: var(--de-white);
	--color-text: var(--de-white);
	--color-text-bg: var(--de-black);
	--hover-btn: #d7d2d2;
}
*,*:before,*:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;

}
html,body{
	height: 100%;
}
body{
	/*font-family: "Roboto Condensed",sans-serif;*/
	font-size: 20px;
	/*background-color: var(--color-bg);*/
	color: var(--color-text);
	overflow: hidden;
}
a{
	text-decoration: none;
	color: var(--color-text);
}
.wrapper{
	display: flex;
	flex-direction: column;
	text-align: center;
	text-transform: uppercase;
}
#word{ align-items:center; }
#keyboard{
	/*width: 40vw;*/
	width: 100%;
	display: flex;
	flex-direction: column;
	/*flex-wrap: wrap;*/
	align-content: center;
	justify-content: center;
}
.row-key{
	display: flex;
	flex-direction: row;
}
.flex-1{ flex: 1 1 0%; }
.m-5{ margin: 2.5px; }
.column-{
	display: flex;
	flex-direction: column;
}

.letter{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	padding: 5px;
}
.borrad{ border-radius: 10px; }
.bg-block{
	color: var(--color-text-bg); 
	background-color: var(--color-btn);
}
/*.button:hover{ cursor: pointer; background-color: var(--hover-btn) }*/
.button:hover{ cursor: pointer }
.disable{ background-color: var(--disable-btn); }
.okey{ background-color: var(--okey-btn); }
.page{
	/*display: flex;*/
	/*flex-direction: column;*/
	position: absolute;
	bottom: 0; right: 0; left: 0;
}
.letter[aria-label="del"]>svg{ width: 1.4em; }
.logo{ font-size: 35px; padding: 10px; font-weight: 700; text-transform: initial; }
#count{ text-transform: initial; padding: 10px; padding-bottom: 25px;}
.popup_block{
	z-index: 2;
	position: absolute;
	top: 1em;
	left: 50%;
	transition: .5s all;
}
.popup{ 
	transition: .5s all;
	text-transform: initial;
	background-color: #000b;
	transform: translate(-50%, 50px);
	padding: 10px;
	color: var(--de-white);
	/*animation: pop 5s cubic-bezier(0.88, 0.07, 0.4, 1.01);*/
}
.disableblc{
	transform: translate(-50%, -200px);
}
@keyframes pop{
  50%{transform:translate(-50%, 0px);}
}